/*

color palette = https://coolors.co/palette/d8f3dc-b7e4c7-95d5b2-74c69d-52b788-40916c-2d6a4f-1b4332-081c15

*/
body {
    background-color: #b7e4c7;
}

.add_new {
    transition-duration: 0.5s;
    background-color: #1b4332;
    color: white;
    width: fit-content;
    height: 40px;
    padding: 1%;
    border: none;
    border-radius: 10px;
}

.add_new:hover {
    background-color: #2d6a4f;
}

.add_new:active {
    background-color: #081C15;
}

